/* Example of @import use
This imports the `reset.css` file */
@import url('./reset.css');

/* For testing purposes, delete this code */
.body {
  background-color: #000fff;
}

h1 {
  color: #000;
  background-color: #0ff;
  font-size: 16px;
  font-weight: normal;
}
