/* Example of @import use
This imports the `reset.css` file */
@import url('./reset.css');

/* For testing purposes, delete this code */

.theme-one {
  --main-bg-color: hsl(222deg 26% 31%);
  --checkbox-underlay-color: hsl(223deg 31% 20%);
  --delsign-boxshadow: hsl(224deg 28% 35%);
  --del-background-color: hsl(225deg 21% 49%);
  --del-text-color: hsl(0deg 0% 100%);
  --checkmark-one-background-color: hsl(6deg 63% 50%);
  --checkmark-two-background-color: hsl(225deg 21% 49%);
  --checkmark-three-background-color: hsl(30deg 25% 89%);
  --equalsign-boxshadow: hsl(6deg 70% 34%);
  --result-background-color: hsl(224deg 36% 15%);
  --button-boxshadow: hsl(28deg 16% 65%);
  --text-color: hsl(0deg 0% 100%);
  --keyboard-hovering-background: hsl(223deg 31% 20%);
  --equalsign-hovering-color: hsl(6deg 63% 50%);
  --equalsign-background-color: hsl(6deg 63% 50%);
  --equalsign-text-color: hsl(0deg 0% 100%);
  --button-text-color: hsl(221deg 14% 31%);
  --button-background-color: hsl(45deg 7% 89%);
  --reset-background-color: hsl(225deg 21% 49%);
  --reset-boxshadow: hsl(224deg 28% 35%);
  --reset-text-color: hsl(0deg 0% 100%);
}

.theme-two {
  --main-bg-color: hsl(0deg 0% 90%);
  --checkbox-underlay-color: hsl(45deg 7% 89%);
  --checkmark-one-background-color: hsl(185deg 42% 37%);
  --checkmark-two-background-color: hsl(25deg 98% 40%);
  --checkmark-three-background-color: hsl(0deg 5% 81%);
  --result-background-color: hsl(0deg 0% 93%);
  --text-color: hsl(60deg 10% 19%);
  --keyboard-hovering-background: hsl(35deg 11% 61%);
  --equalsign-background-color: hsl(25deg 98% 40%);
  --equalsign-hovering-color: hsl(6deg 63% 50%);
  --equalsign-test-color: hsl(0deg 0% 100%);
  --equalsign-boxshadow: hsl(25deg 99% 27%);
  --equalsign-text-color: hsl(0deg 0% 100%);
  --button-text-color: hsl(221deg 14% 31%);
  --button-background-color: hsl(0deg 0% 93%);
  --button-boxshadow: hsl(35deg 11% 61%);
  --del-background-color: hsl(185deg 42% 37%);
  --delsign-boxshadow: hsl(185deg 58% 25%);
  --del-text-color: hsl(0deg 0% 100%);
  --reset-background-color: hsl(185deg 42% 37%);
  --reset-boxshadow: hsl(185deg 58% 25%);
  --reset-text-color: hsl(0deg 0% 100%);
}

.theme-three {
  --main-bg-color: hsl(268deg 75% 9%);
  --checkbox-underlay-color: hsl(268deg 71% 12%);
  --checkmark-one-background-color: hsl(281deg 89% 26%);
  --checkmark-two-background-color: hsl(268deg 47% 21%);
  --checkmark-three-background-color: hsl(176deg 100% 44%);
  --result-background-color: hsl(268deg 71% 12%);
  --text-color: hsl(52deg 100% 62%);
  --keyboard-hovering-background: hsl(268deg 71% 12%);
  --equalsign-background-color: hsl(176deg 100% 44%);
  --equalsign-hovering-color: hsl(177deg 92% 70%);
  --equalsign-test-color: hsl(198deg 20% 13%);
  --equalsign-boxshadow: hsl(177deg 92% 70%);
  --equalsign-text-color: hsl(198deg 20% 13%);
  --button-text-color: hsl(52deg 100% 62%);
  --button-background-color: hsl(268deg 47% 21%);
  --button-boxshadow: hsl(285deg 91% 52%);
  --del-background-color: hsl(281deg 89% 26%);
  --delsign-boxshadow: hsl(285deg 91% 52%);
  --del-text-color: hsl(0deg 0% 100%);
  --reset-background-color: hsl(281deg 89% 26%);
  --reset-boxshadow: hsl(285deg 91% 52%);
  --reset-text-color: hsl(0deg 0% 100%);
}

body {
  background-color: var(--main-bg-color);
  font-family: 'League Spartan', sans-serif;
}

.title-container {
  margin: auto;
  border-radius: 8px;
  width: 350px;
  margin-top: 20px;
}

.title {
  font-size: 25px;
  margin-left: 25px;
  padding-top: 10px;
  color: var(--text-color);
  font-weight: 700;
}

.theme-container {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}

.theme-text {
  margin-left: 55%;
  margin-top: 19px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 10px;
}

.theme-feature {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 15px;
}

.theme-num {
  display: flex;
  flex-direction: row;
  margin-left: -9px;
  margin-top: -5px;
  color: var(--text-color);
}

.num {
  margin-left: -1px;
  margin-top: -20px;
}

.theme-color-container {
  display: flex;
  flex-direction: row;
  width: 70px;
  margin-left: 5px;
  height: 25px;
  border-radius: 90px;
  background-color: var(--checkbox-underlay-color);
}

.container {
  display: flex;
  position: relative;
  padding-left: 14px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 700;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-one {
  position: absolute;
  top: 23px;
  height: 18px;
  width: 17px;
  left: 2px;
  border-radius: 50%;
}

.checkmark-two {
  position: absolute;
  top: 23px;
  height: 18px;
  width: 17px;
  border-radius: 50%;
  left: 9px;
}

.checkmark-three {
  position: absolute;
  top: 23px;
  height: 18px;
  width: 17px;
  border-radius: 50%;
  left: 13px;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark-one {
  background-color: var(--checkmark-one-background-color);
}

.container input:checked ~ .checkmark-two {
  background-color: var(--checkmark-two-background-color);
}

.container input:checked ~ .checkmark-three {
  background-color: var(--checkmark-three-background-color);
}

.result-container {
  width: 320px;
  height: 90px;
  margin: auto;
  background-color: var(--result-background-color);
  border-radius: 5px;
}

.result {
  margin-left: 60%;
  font-size: 32px;
  margin-top: 30px;
  padding-top: 27px;
  color: var(--text-color);
}

.button-container {
  width: 320px;
  margin: auto;
  background-color: var(--checkbox-underlay-color);
  border-radius: 5px;
}

.button-container:hover {
  background-color: var(--keyboard-hovering-background);
}

.buttons-signs {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 12px 6px;
  width: 57px;
  height: 55px;
  cursor: pointer;
  box-shadow: 0 5px var(--button-boxshadow);
  margin-top: 15%;
  font-weight: 700;
  border-radius: 5px;
}

.del-btn {
  background-color: var(--del-background-color);
  color: var(--del-text-color);
  font-size: 20px;
  box-shadow: 0 5px var(--delsign-boxshadow);
}

.buttons-text {
  display: flex;
  flex-direction: row;
}

.btn-reset {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 12px 16px;
  width: 130px;
  height: 55px;
  cursor: pointer;
  margin-top: 2%;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--reset-background-color);
  color: var(--reset-text-color);
  box-shadow: 0 5px var(--reset-boxshadow);
}

.btn-equal {
  background-color: var(--equalsign-background-color);
  border: none;
  color: var(--equalsign-text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 12px 1px;
  width: 130px;
  height: 55px;
  cursor: pointer;
  box-shadow: 0 5px var(--equalsign-boxshadow);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 2%;
}

.btn-equal:hover {
  background-color: var(--equalsign-hovering-color);
}
